In [1]:
#### Import
import pandas as pd 

# from autoviz.AutoViz_Class import AutoViz_Class
# %matplotlib inline

# import sweetviz

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import missingno as msno

In [2]:
### Read Data

df = pd.read_excel('e-shop clothing 2008_new.xlsx')
df['Combinations'] = df['CountryCode'].astype(str) + "_" + df['SessionId'].astype(str)
df.head(2)

,Year,Month,Day,Date,Order,CountryCode,SessionId,PageCategoryID,Page(ClothingModel),ColorId,LocationId,model photography,Price,PriceGreaterThanAvgPrice,PageNo,Purchased,cust_ID,Combinations
0,2008,4,1,2008-4-1,1,29,1,1,A13,1,5,en face,28,No,1,Yes,cust_4608,29_1
1,2008,4,1,2008-4-1,2,29,1,1,A16,1,6,en face,33,No,1,No,cust_4608,29_1

# Creating Customer ID

In [3]:
# Coun_sess_df = df[['CountryCode','SessionId','Combinations']].drop_duplicates().reset_index(drop=True)
# print("Length of data:", len(Coun_sess_df))
# Coun_sess_df.head(2)

Length of data: 24026

   CountryCode  SessionId Combinations
0           29          1         29_1
1           29          2         29_2

In [5]:
# Main_list = []


# for i in list(Coun_sess_df['CountryCode'].unique()):
    
#     Test_df = Coun_sess_df[Coun_sess_df['CountryCode'] == i]
    
#     try:
#         # Concatenate the list of DataFrames into one DataFrame
#         result_df = pd.concat(Main_list, ignore_index=True)
#     except:
#         pass
    
#     try:
#         cust_ids = np.random.choice(range(len(result_df), len(result_df) + len(Test_df) ), size=len(Test_df))
#     except:
#         cust_ids = np.random.choice(range(1,len(Test_df) ), size=len(Test_df))
    
#     Test_df['CustId'] = cust_ids
    
#     Main_list.append(Test_df)
    
    
# # Concatenate the list of DataFrames into one DataFrame
# result_df = pd.concat(Main_list, ignore_index=True)
# result_df = result_df[['Combinations','CustId']].drop_duplicates().reset_index(drop=True)
# result_df.head(2)

  Combinations  CustId
0         29_1   13885
1         29_2    7942

In [8]:
# #### Merging CustId
# pd.merge(df, result_df, on = ['Combinations'], how='inner').to_excel('e-shop clothing 2008_new.xlsx')

In [3]:
# import pandas as pd
# import numpy as np

# ####### Creating Age Column
# Customers_df = pd.read_excel('CustomerData.xlsx')
# Customers_df['Age'] = np.random.randint(10,70, size=len(Customers_df))
# del Customers_df['Gender']

# Customers_df.to_excel('CustomerData.xlsx')

In [ ]:
# viz = AutoViz_Class() 
# viz_df = viz.AutoViz(filename = '',dfte= df, verbose =1)

In [ ]:
#### Missing data

msno.matrix(df)

In [ ]:
### Other dfs

Colors_df = pd.read_excel('Colors.xlsx')
Countries_df = pd.read_excel('Countries.xlsx')
Customers_df = pd.read_excel('CustomerData.xlsx')
PageCategory_df = pd.read_excel('PageNo.xlsx')
Location_df = pd.read_excel('Location.xlsx')

In [ ]:
Colors_df.head(2)

In [ ]:
df = pd.merge(Colors_df, df, on = ['ColorId'], how = 'inner')
df = pd.merge(Countries_df, df, on = ['CountryCode'], how = 'inner')
df = pd.merge(Customers_df, df, on = ['cust_ID'], how = 'inner')
df = pd.merge(PageCategory_df, df, on = ['PageCategoryID'], how = 'inner')
df = pd.merge(Location_df, df, on = ['LocationId'], how = 'inner')

In [ ]:
test = df.groupby(['cust_ID'])['CountryName'].nunique().reset_index()
test[test['CountryName'] > 1]

In [ ]:
df[df['Cust_ID'] == 'Cust_1']